<!Doctype HTML>

<html>

	<head>
		<title>DL</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="1.css">
	</head>
	
	<body>
	
		<header>
			<div id="DL1"></div>
			<div id="aDL">
			<div id="aDLL"><img src="aDL/3aDL.png" width="150px" height="250px"></div>
			<div id="text">
				
			<div class="a">D</div>		
				
			<div class="s">y</div>
				
			<div class="d">i</div>	
				
			<div class="f">n</div>
				
			<div class="g">g</div>
				
			<div class="h">L</div>
				
			<div class="j">i</div>
				
			<div class="k">g</div>
				
			<div class="l">h</div>
				
			<div class="z">t</div>
			
			</div>
			<div id="aDLR"><img src="aDL/3aDL.png" width="150px" height="250px"></div></div>
						<div id="menu"> 
			<ul>
			<li><a href="DL2.htm" >Інформація про гру  </a> </li>
			<li><a href="DL3.htm" >Карта</a> </li>
			<li><a href="C:\Users\Данил\Desktop\главная\проекти\gem\gm.htm" >Інші цікаві ігри</a>   </li>
			</ul>
			</div>
			<div id="menu2">
			<ul><li><a href="" ></a>   </li></ul>
			</div>
		</header>
		
		
	
	
	

	
	</body>

</html>
