<!Doctype HTML>

<html>

	<head>
		<title>DL</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="2.css">
	</head>
	
	<body>
	
		<header>
		
			<div id="menu"> 
			<ul>
			<li><a href="DL.htm" > назад</a>    </li>
			</ul>
			</div>
			<div id="text">
<h1>Dying Light</h1> <h2>( Згасаюче світло)</h2> — відеогра з відкритим ігровим світом від першої особи в жанрах Action-adventure/Survival horror, створена польським розробником відеоігор Techland і видана Warner Bros. Interactive Entertainment. Анонсована в травні 2013 року, а вийшла в січні 2015 для Microsoft Windows, Linux, PlayStation 4 і Xbox One. Також планувався випуск для платформ PlayStation 3 і Xbox 360, але пізніше його скасували через апаратні обмеження.

Сюжет гри обертається навколо секретного агента на ім'я Кайл Крейн (Kyle Crane), який вирушає зі спецзавданням до карантинної зони в східне місто під назвою Харран. У ворожому оточенні, посеред спалаху зомбі-інфекції, панує місцева банда і борються за життя кілька різних груп людей. Місто представлене відкритим ігровим світом з динамічними денними і нічними циклами. З кожним наступним циклом «день-ніч» противники стають більш ворожими, але найважче мати з ними справу в нічний час — коли з'являються дуже агресивні екземпляри зомбі. Особливостями ігрового процесу є використання паркуру, на якому й зосереджене пересування і ведення бою в тісних східних вуличках. У грі також наявний асиметричний багатокористувацький режим (як бонус за умов попереднього замовлення); гра на чотирьох гравців, кооперативний багатокористувацький режим.

Розробка гри почалась у 2012 році. Ще до офіційного анонсу гри, у кількох доповідях йшлося, що Dying Light буде продовженням Dead Island, іншої франшизи створеної Techland, але пізніше ці чутки були відхилені. Система паркуру в грі робить акцент на природних рухах. Для реалізації цього Techland довелося відмовитися від більшості сюжетних елементів, і довелося будувати їх з нуля. Розробку музики взяв на себе Павел Блащак (Paweł Blaszczak). За його словами, на створення саундтреку його надихнула музика з фільмів 70-х і 80-х років.

Після виходу Dying Light отримав переважно позитивні відгуки критиків, у яких ті хвалили бойову систему, графіку, кооперативний багатокористувацький режим, навігацію та присутність циклів день-ніч. Низка негативних коментарів стосувалася сюжету, складності й технічних питань. Гра була найбільш продаваною протягом січня 2015 року та побила рекорд продажів першого місяця серед нової інтелектуальної власності в жанрі survival horror. Techland оголосили, що повністю присвятять себе грі після її випуску. Заради цього в травні 2015 року вони відклали один зі своїх інших проектів і повністю зосередилися на пост-релізному розвиткові Dying Light. Команда випустила безліч оновлень і два пакети контенту завантаження, а саме Cuisine & Cargo та The Bozak Horde. Також було оголошено про вихід розширення Dying Light: The Following, яке побачило світ 9 лютого 2016 року.				
			
	<hr >		
			</div>
			<div id="t">
			
<table border="2" >
 
         <tr><th><h1>системні вимоги</h1></th></tr>
		 
		 <tr> <th><h2>мінімальні вимоги</h2></th></tr>
         <tr>
		 
		 <tr><th>Операційна система:Windows® 7 64-bit / Windows® 8 64-bit / Windows® 8.1 64-bit</th></tr>
         <tr><th>Процессор:	Intel® Core™ i5-2500 @3.3 GHz / AMD FX-8320 @3.5 GHz</th></tr>
         <tr><th>Відеокарта:NVIDIA® GeForce® GTX 560 / AMD Radeon™ HD 6870 (1GB VRAM)</th></tr>
		 <tr><th>Оперативна пам'ять (Гб):4.0</th></tr>
		 <tr><th>Свободное место на HDD (Гб):40.0</th></tr>
		 </tr>
         <tr> <th><h2>Рекомендовані вимоги</h2></th></tr>
		 <tr>
		  <tr><th>Операційна система:Windows® 7 64-bit / Windows® 8 64-bit / Windows® 8.1 64-bit</th></tr>
		   <tr><th>Процесор:Intel® Core™ i5-4670K @3.4 GHz / AMD FX-8350 @4.0 GHz</th></tr>
		    <tr><th>Відеокарта:	NVIDIA® GeForce® GTX 780 / AMD Radeon™ R9 290 (2GB VRAM)</th></tr>
			 <tr><th>Оперативна пам'ять (Гб):8.0</th></tr>
			  <tr><th>Свободное место на HDD (Гб):	40.0</th></tr>
			  
     </tr>
	 </div>
</table>
<div id="v">
 <div id="vhDL"><H1>Dying Light:ГЕЙМПЛЕЙ</h1></div >
	<div class="video1">
				<video width="560" height="315" src="vDL/v1DLg.mp4" controls ></video>
			</div>
		 <div id="vhtf"><H1>Dying Light the following:ГЕЙМПЛЕЙ</h1></div >	
			<div class="video2">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/9NAAem51iUg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>

	</div>
<div id="m">
<h2>музика з гри</h2>
	<ul>
					<li>
						Harran
						<audio src="mDL/1mDL.mp3" controls ></audio>
					</li>
					<li>
						Horizon
						<audio src="mDL/2mDL.mp3" controls ></audio>				
					</li>
					<li>
						Passage
						<audio src="mDL/3mDL.mp3" controls ></audio>
					</li>
				</ul>
	</div >		
	<div id="gmen1">	
	<h2>Ліцінзіона гра:<li><a href="https://store.steampowered.com/agecheck/app/239140/" > Steam</a>    </li></h2>
	<h2>Пірацька гра:<li><a href="pDL\Dying_Light.torrent" download>Not Steam скачять </a>    </li></h2>
	<h2>Для гри по сіті вам потрібен фікс і Steam:<li><a href="pDL\Dying-Light-Multiplayer.exe" download>Фікс скачять </a></li></h2>
	Інструкція по установке Фікса :зопускаем фікс і устанавліваем в папку гри потім запускаем сам Steam все.
		</div >		
			
		
			
</header>
	<div class="up">
			<a href="#menu">
				<img src="kDL/k2.png">
			</a>	
		 
	
	
	

	
	</body>

</html>
