<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="..\static\style.css">
    <title>Fx.Com</title>
</head>
<body>
	<header>
		<div class = "main-menu-container">
			<div class = "menu-triger">
				<div class = "menu-triger-lines"></div>
			</div>
			<nav class = "nv">
				<ul>
					<li><a href="GL.html">Головна</a></li>
					<li><a href="#">Про нас.</a></li>
					<li><a href="#">Логін</a></li>
				</ul>
			</nav>
		</div>
	<div id="fototext">Ігри</div>
		<section class="ft">
	
    <div id="foto1"><img src="..\static\img\GL\ft\1.jpg" widht="160" height="160"></div>
	
	<div id="foto2"><img src="..\static\img\GL\ft\2.jpg" widht="160" height="160"></div>
	
	<div id="foto3"><img src="..\static\img\GL\ft\3.jpg" widht="160" height="160"></div>
	
	<div id="foto4"><img src="..\static\img\GL\ft\4.jpg" widht="160" height="160"></div>
	
	<div id="foto5"><img src="..\static\img\GL\ft\5.jpg" widht="160" height="160"></div>
	
	
</section>

	</header>
<main>
<div class="br">
			<div class="menugm"> 
			<ul>
			<li><a href="C:\главная\Проєкти\gem\DL\DL.htm" >Dying Light: the following</a></div></li>
			</ul>
			</div>
</div>			
</main>


	
	
	<footer>
		<p>V4:2022.25.08</p>
	</footer>	
	
	<script src = "..\static\java.js"></script>
</body>
</html>