<!Doctype HTML>

<html>

	<head>
		<title></title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="gm.css">
		<link rel="shortcut icon" href="img/i/1i.ico" type="image/x-icon">
	</head>
	
	<body>
	
		<header>
		<div id="nv">
		<nav>
			<ul>
				<li>
				<a href="GL.htm">головна 
					</a>
				</li>
				
			</ul>
			
			</nav>
		</div>
		
		
		
		
		
		
		
			
</header>
<section class="ft">
<div id="foto1"><img src="img\ft\1.jpg" widht="160" height="160"></div>
	
	<div id="foto2"><img src="img\ft\2.jpg" widht="160" height="160"></div>
	
	<div id="foto3"><img src="img\ft\3.jpg" widht="160" height="160"></div>
	
	<div id="foto4"><img src="img\ft\4.jpg" widht="160" height="160"></div>
	
	<div id="foto5"><img src="img\ft\5.jpg" widht="160" height="160"></div>
	
	
</section>
		<section class="menu">
				<div id="b"> 	<h1>Ігри</H1></div>
				<div id="menuаgm"> 
			<ul>
			<li><a href="DL/DL.htm" >Dying Light: the following </a>    </li>
			</ul>
			</div>
			
		</section>

		
	
	
	

	
	</body>

</html>